html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.form-group {
    display: flex;
    flex-direction: row;
    margin: 0.5em 0;

    label {
        flex-basis: 20%;
        white-space: nowrap;
        margin-right: 0.5em;
    }

    input,
    select {
        flex-basis: 80%;
    }
}

.form-buttons {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    gap: 1em;

    button {
        width: 6em;
    }
}

.error-well {
    background-color: rgba(red, 0.1);
    padding: 1em;
    margin: 1em 0;
}
