<ng-container *ngIf="authorsQuery | async as authorsResult">
  <ng-container *ngIf="authorsResult.loading">Loading...</ng-container>
  <ng-container *ngIf="authorsResult.error">{{ authorsResult.error.message }}
  </ng-container>
  <form *ngIf="authorsResult.data?.authors as authors" [formGroup]="form" autocomplete="off" (ngSubmit)="submit()">

    <div *ngIf="error$ | async as error" class="error-well">An error has occured: {{ error.message }}</div>

    <div class="form-group">
      <label for="name">Name *</label>
      <input name="name" type="text" formControlName="name" />
    </div>
    <div class="form-group">
      <label for="genre">Genre</label>
      <input name="genre" type="text" formControlName="genre" />
    </div>
    <div class="form-group">
      <label for="author">Author *</label>
      <select name="author" formControlName="authorId">
        <option *ngFor="let author of authors" [value]="author.id">{{ author.name }}
        </option>
      </select>
    </div>

    <div class="form-buttons">
      <button type="submit">Submit</button>
      <button type="button" (click)="onClose.next()">Close</button>
    </div>
  </form>
</ng-container>
