.notification {
    background-color: #def8db;
    margin: 1rem 1rem 1rem 0;
    padding: 0.75rem;
}

.box {
    background-color: hsl(0, 0%, 97%);
    border: 1px solid hsl(0, 0%, 90%);
    margin: 0.5rem 0;
    padding: 0.75rem;
    display: inline-block;
}
