<div>
  <input type="text" placeholder="Book name" [formControl]="nameControl" />
</div>
<ng-container *ngIf="booksQuery | async as booksResult">
  <ng-container *ngIf="booksResult.loading">Loading...</ng-container>
  <ng-container *ngIf="booksResult.error">{{ booksResult.error.message }}</ng-container>
  <ng-container *ngIf="(booksResult.data || booksResult.previousData)?.books  as books">
    <div *ngFor="let book of books">
      <span>{{ book.name + (book.genre ? ' (' + book.genre + ')' : '') }}</span>
    </div>
  </ng-container>
  <div class="actions-container">
    <button (click)="refetch()">Refetch</button>
    <button (click)="addBook()">Add Book</button>
    <button (click)="addAuthor()">Add Author</button>
  </div>
</ng-container>

<div *ngIf="isAddingBook" class="form-container">
  <app-new-book (onClose)="cancelAddBook()"></app-new-book>
</div>

<div *ngIf="isAddingAuthor" class="form-container">
  <app-new-author (onClose)="cancelAddAuthor()">
  </app-new-author>
</div>
