.form-container {
  margin: 2em 0;
  width: 20em;
  padding: 1em;
  background-color: rgba(#000, 0.05);
}

.actions-container {
  margin-top: 1em;

  button {
    margin-right: 0.5em;
  }
}

.dark_theme {
  .form-container {
    background-color: rgba(#fff, 0.05);
  }
}
